exportPattern("^[[:alpha:]]+")
importFrom(bibliometrix, convert2df, mergeDbSources, biblioAnalysis, summary, Hindex, biblioNetwork, networkPlot, metaTagExtraction)
importFrom(shiny, shinyApp, fluidPage, titlePanel, sidebarLayout, sidebarPanel, mainPanel, fileInput, selectInput, numericInput, actionButton, plotOutput, tableOutput, renderPlot, renderTable, reactive, observeEvent, eventReactive, reactiveValues, moduleServer, NS, uiOutput, renderUI, wellPanel, h3, p, downloadButton, downloadHandler)
importFrom(shinydashboard, dashboardPage, dashboardHeader, dashboardSidebar, dashboardBody, menuItem, menuSubItem, tabItems, tabItem, box)
importFrom(quanteda, corpus, dfm, stopwords)
importFrom(topicmodels, LDA, terms)
importFrom(ggplot2, ggplot, aes, geom_line, geom_point, labs, theme_minimal, geom_polygon, coord_fixed, scale_fill_viridis, theme_void)
importFrom(igraph, graph_from_data_frame, layout_with_fr, V, E)
importFrom(plotly, ggplotly)
importFrom(dplyr, "%>%", select, filter, mutate, arrange)
importFrom(stringr, str_to_lower)
importFrom(maps, map_data)
importFrom(viridis, scale_fill_viridis)
importFrom(metagear, screen_abstracts, extract_data)
importFrom(meta, metagen, forest.meta)

